 @import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 h1 {
     font-family: 'Pacifico', cursive;
 }

 button {
     font-size: 16px;
     padding: 30px;
 }